<div class="modal-header">
    <h3 class="modal-title">图片</h3>
</div>
<div class="modal-body">
    <tabset>
        <tab heading="图片搜索">
            <form class="form-inline">
                <div class="form-group">
                    <label for="search-keyword">关键词：</label>
                    <input type="text" class="form-control" ng-model="data.searchKeyword2" id="search-keyword" placeholder="请输入搜索的关键词">
                </div>
                <button class="btn btn-primary" ng-click="searchImage()">百度一下</button>
            </form>
            <div class="search-result" id="search-result">
                <ul>
                    <li ng-repeat="image in list" id="{{ 'img-item' + $index }}" ng-class="{'selected' : isSelected}" ng-click="selectImage($event)">
                        <img id="{{ 'img-' + $index }}" ng-src="{{ image.src || '' }}" alt="{{ image.title }}" onerror="this.parentNode.removeChild(this)" />
                        <span>{{ image.title }}</span>
                    </li>
                </ul>
            </div>
        </tab>
        <tab heading="插入图片地址">
            <form>
                <div class="form-group" ng-class="{true: 'has-success', false: 'has-error'}[urlPassed]">
                    <label for="image-url">链接地址：</label>
                    <input type="text"
                           class="form-control"
                           ng-model="data.url"
                           ng-blur="urlPassed = data.R_URL.test(data.url)"
                           ng-focus="this.value = data.url"
                           ng-keydown="shortCut($event)"
                           id="image-url"
                           placeholder="必填：以 http(s):// 开头">
                </div>
                <div class="form-group" ng-class="{'has-success' : titlePassed}">
                    <label for="image-title">提示文本：</label>
                    <input type="text" class="form-control" ng-model="data.title" ng-blur="titlePassed = true" id="image-title" placeholder="选填：鼠标在图片上悬停时提示的文本">
                </div>
                <div class="form-group">
                    <label for="image-preview">图片预览：</label>
                    <img class="image-preview" id="image-preview" ng-src="{{ data.url }}" alt="{{ data.title }}"/>
                </div>
            </form>
        </tab>
        <tab heading="上传图片" active="true">
            <form>
                <div class="form-group">
                    <!-- 这里不能用 ng-change -->
                    <input type="file" name="upload-image" id="upload-image" class="upload-image" onchange="angular.element(this).scope().uploadImage()"/>
                    <label for="upload-image"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> <span>选择文件&hellip;</span></label>
                </div>
                <div class="form-group" ng-class="{'has-success' : titlePassed}">
                    <label for="image-title">提示文本：</label>
                    <input type="text" class="form-control" ng-model="data.title" ng-blur="titlePassed = true" id="image-title" placeholder="选填：鼠标在图片上悬停时提示的文本">
                </div>
                <div class="form-group">
                    <label for="image-preview">图片预览：</label>
                    <img class="image-preview" id="image-preview" ng-src="{{ data.url }}" alt="{{ data.title }}"/>
                </div>
            </form>
        </tab>
    </tabset>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">确定</button>
    <button class="btn btn-warning" ng-click="cancel()">取消</button>
</div>